@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://use.typekit.net/eia7dfc.css");

/* font-family: open-sans, sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: open-sans, sans-serif;
font-weight: 600;
font-style: normal; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 5em;
  margin-bottom: 10px;
}

body {
  background: #0a2a43;
}

p {
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.75;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 1000;
}

.sec {
  position: relative;
  padding: 100px;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#moon {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#cloud1 {
  position: absolute;
  top: 100px;
  left: 0;
  max-width: 600px;
}

#cloud2 {
  position: absolute;
  top: 100px;
  right: 0;
  max-width: 600px;
}

#jet {
  position: absolute;
  left: 150px;
  top: 50px;
  max-width: 100%;
}
